.home-service{
    width: 100%;
    max-width: 1440px;
    margin : 69px auto;
    height: 100vh;
    padding: 25px 20px;
}

.home-service-p{
    color : gray;
    text-align: center;
    margin-top: 15px;
}

.home-service h1{
    text-align: center;
}

.home-service-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px 0 0 0;
}

.home-serivce-block-description{
    max-width: 350px;
    margin-top: 50px;
}

.home-serivce-block-description h5{
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
}
