.navbar-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navlink{
    list-style: none;
    margin: 0 20px;
    cursor: pointer;
}

.navlink a {
    color : gray;
    font-weight: 700;
    text-decoration: none;
}

.navlink a{
    transition: .3s all linear;
}
.navlink:hover a{
    color : #ff008c;
}
.active{
    color : gold;
}